@import url("https://fonts.googleapis.com/css?family=Averta&display=swap");

.title-h1{
  font-family: 'GlossySheenShine';
  color: #fff;
  font-size: 96px;
 text-align: center;
 margin-bottom: 30px;

}

iframe {
  display: none;
}

body {
  background: url(./img/common/background.png);
  font-family: 'AvertaCyrillicRegular';
 
  /* background-color: #e5e5e5; */
}

#background{
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

.bg-yell {
  /* background-color: #ffe8db; */
}

.size-32 {
  width: 32px;
  height: 32px;
}

.size-36 {
  width: 36px;
  height: 36px;
}

.color-line {
  color: #c7ac9d;
}

.color-icon {
  color: #aaa4a4;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-12 {
  border-radius: 12px;
}

.bg-card {
  background-color: #f5f2f2;
}

.fs-22 {
  font-size: 22px;
}

.fs-14 {
  font-size: 14px;
}

.py-10x {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-12x {
  padding-left: 12px;
  padding-right: 12px;
}

.title {
  /* font-family: "Quicksand"; */
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #3d2e2e;
}

.subtitle {
  /* font-family: "Averta CY"; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3d2e2e;
  opacity: 0.5;
}

.text-balance {
  /* font-family: "Averta CY"; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3d2e2e;
}

.text-token {
  /* font-family: "Averta CY"; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #3d2e2e;
}

.input-field {
  width: 225px;
  height: 36px;

  background: #ffffff;
  border-radius: 8px;
  border: 0;
  outline: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-connect {
  height: 56px;
  background: #8ccbd1;
  border-radius: 12px;
}

.numbers{
  font-family: "AvertaCyrillicRegular";
  font-weight: bold;
}

.btn-text {
  /* font-family: Averta CY; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;

  /* or 22px */
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.hover-op:hover {
  opacity: 0.8;
}

.btn-connecter {
  width: 220px;
  height: 56px;
  left: 32px;
  top: 22px;
  background: #1c63bf;
  border-radius: 8px;
}

.p-connecter {
  padding: 22px 32px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
 
  /* margin-bottom: 50px; */
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.p-metamask {
  padding: 10px 16px;
}

.text-wallet {
  /* font-family: Averta CY; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #fff;
}

.text-address {
  /* font-family: Averta CY; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.material-icons{
  color: #000;
}

.slippage-box{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.slippage-button{
  align-self: center;
}

@media (max-width: 619px) {
  .App{
    padding: 10px;
  }
  .p-connecter{
    display: none;
    opacity: 0;
  }
  .main-container{
    width: 100%;
  }

  .main-container h1{
    font-size: 66px;
  }
}